<!DOCTYPE html>
<html>
<% content_for(:title, "Home")%>
<style>
.w3-sidebar a {font-family: "Roboto", sans-serif}
body,h1,h2,h3,h4,h5,h6,.w3-wide {font-family: "Montserrat", sans-serif;}
</style>
<body class="w3-content" style="max-width:1200px">


  <!-- Image header -->
  <div class="w3-display-container w3-container">

                                          <%= link_to root_path do %>
                                            <%= image_tag "logo11.png", :class => "mySlides w3-animate-fading", :alt => "jeans", :style => "width:100%" %>
                                            <%= image_tag "sunshadeLouver.jpg", :class => "mySlides w3-animate-fading", :alt => "jeans", :style => "width:100%" %>
                                            <%= image_tag "lightband.jpg", :class => "mySlides w3-animate-fading", :alt => "jeans", :style => "width:100%" %>
                                            <%= image_tag "backlitCanopies.jpg", :class => "mySlides w3-animate-fading", :alt => "jeans", :style => "width:100%" %>
                                            <%= image_tag "driveThruOB.jpg", :class => "mySlides w3-animate-fading", :alt => "jeans", :style => "width:100%"%>


                                            <% end %>




                                  <script>
                                  var myIndex = 0;
                                  carousel();

                                  function carousel() {
                                    var i;
                                    var x = document.getElementsByClassName("mySlides");
                                    for (i = 0; i < x.length; i++) {
                                       x[i].style.display = "none";
                                    }
                                    myIndex++;
                                    if (myIndex > x.length) {myIndex = 1}
                                    x[myIndex-1].style.display = "block";
                                    setTimeout(carousel, 9000);
                                  }
                                  </script>
<!--    <div class="w3-display-topleft w3-text-white" style="padding:24px 48px">

      <h1 class="w3-jumbo w3-hide-small">New arrivals</h1>
      <h1 class="w3-hide-large w3-hide-medium">New arrivals</h1>
      <h1 class="w3-hide-small">COLLECTION 2016</h1>
      <p><a href="#jeans" class="w3-button w3-black w3-padding-large w3-large">SHOP NOW</a></p>

    </div>-->
  </div>

  <div class="w3-container w3-text-grey" id="jeans">
    <p>(800) 450-4040</p>
  </div>

  <!-- Product grid -->
  <div class="w3-row ">
    <div class="w3-col l3 s6 ">
      <div class="w3-container w3-hover-sepia">
        <%= image_tag "fp_02.jpg", :style => "width:100%" %>

        <p>Drive-Thru<br>
          Order Board Canopies</p>
      </div>
      <div class="w3-container w3-hover-sepia">
        <%= image_tag "fp_03.jpg", :style => "width:100%" %>
        <p>Metal Drive-Thru<br>
          & Entrance Canopies</p>
      </div>
    </div>
    <div class="w3-col l3 s6">
      <div class="w3-container">
        <div class="w3-display-container w3-hover-sepia">
          <%= image_tag "fp_01.jpg", :style => "width:100%" %>
<!--          <span class="w3-tag w3-display-topleft">New</span>
          <div class="w3-display-middle w3-display-hover">
            <button class="w3-button w3-black">Buy now <i class="fa fa-shopping-cart"></i></button>
          </div>
-->
        </div>
        <p>Roof Access<br>
Ladders</p>
      </div>
      <div class="w3-container w3-hover-sepia">
        <%= image_tag "fp_04.jpg", :style => "width:100%" %>
        <p>LED Channel<br>
Letter Signs</p>
      </div>
    </div>

    <div class="w3-col l3 s6">
      <div class="w3-container w3-hover-sepia">
        <%= image_tag "fp_05.jpg", :style => "width:100%" %>
        <p>Commercial<br>
Awnings</p>
      </div>
<!--       <div class="w3-container">
        <div class="w3-display-container">
          <img src="/w3images/jeans4.jpg" style="width:100%">
         <span class="w3-tag w3-display-topleft">Sale</span>
          <div class="w3-display-middle w3-display-hover">
            <button class="w3-button w3-black">Buy now <i class="fa fa-shopping-cart"></i></button>
          </div>

        </div>
        <p>Vintage Skinny Jeans<br><b class="w3-text-red">$14.99</b></p>
      </div>
    </div>

    <div class="w3-col l3 s6">
      <div class="w3-container">
        <img src="/w3images/jeans4.jpg" style="width:100%">
        <p>Vintage Skinny Jeans<br><b>$14.99</b></p>
      </div>
      <div class="w3-container">
        <img src="/w3images/jeans1.jpg" style="width:100%">
        <p>Ripped Skinny Jeans<br><b>$24.99</b></p>
      </div>
-->
    </div>

  </div>

<!--
   Subscribe section
  <div class="w3-container w3-black w3-padding-32">
    <h1>Subscribe</h1>
    <p>To get special offers and VIP treatment:</p>
    <p><input class="w3-input w3-border" type="text" placeholder="Enter e-mail" style="width:100%"></p>
    <button type="button" class="w3-button w3-red w3-margin-bottom">Subscribe</button>
  </div>
-->
  <!-- Footer -->

</body>
</html>
