<% content_for(:title, "Residential")%>
<style>
.w3-sidebar a {font-family: "Roboto", sans-serif}
body,h1,h2,h3,h4,h5,h6,.w3-wide {font-family: "Montserrat", sans-serif;}
</style>

<body>
  <!-- Header -->
  <div class="header">
    <h1>Residential Products</h1>

  </div>

  <!-- Photo Grid -->
  <div class="row">
    <div class="column">
      <%= image_tag "resAwning_01.jpg",:alt => "awning", :style => "width:100%", :class => "w3-hover-sepia cursor", :onclick => "openModal();currentSlide(1)" %>
      <%= image_tag "resAwning_02.jpg",:alt => "awning", :style => "width:100%", :class => "w3-hover-sepia cursor", :onclick => "openModal();currentSlide(2)"  %>
    </div>
    <div class="column">
      <%= image_tag "resAwning_03.jpg",:alt => "awning", :style => "width:100%", :class => "w3-hover-sepia cursor", :onclick => "openModal();currentSlide(3)"  %>
      <%= image_tag "resAwning_05.jpg",:alt => "awning", :style => "width:100%", :class => "w3-hover-sepia cursor", :onclick => "openModal();currentSlide(4)"  %>
    </div>
    <div class="column">
      <%= image_tag "resAwning_06.jpg",:alt => "awning", :style => "width:100%", :class => "w3-hover-sepia cursor", :onclick => "openModal();currentSlide(5)"  %>

    </div>
    <div class="column">
      <%= image_tag "resAwning_04.jpg",:alt => "awning", :style => "width:100%", :class => "w3-hover-sepia cursor", :onclick => "openModal();currentSlide(6)"  %>
    </div>
  </div>
  <div style="margin-bottom: 3em;">
  </div>
  <div id="myModal" class="modal">
      <span class="close cursor" onclick="closeModal()">&times;</span>
      <div class="modal-content">

        <div class="mySlides">
          <div class="numbertext">1 / 6</div>
          <%= image_tag "resAwning_01.jpg",:alt => "awning", :style => "width:100%" %>
        </div>

        <div class="mySlides">
          <div class="numbertext">2 / 6</div>
          <%= image_tag "resAwning_02.jpg",:alt => "awning", :style => "width:100%" %>
        </div>

        <div class="mySlides">
          <div class="numbertext">3 / 6</div>
          <%= image_tag "resAwning_03.jpg",:alt => "awning", :style => "width:100%" %>
        </div>

        <div class="mySlides">
          <div class="numbertext">4 / 6</div>
          <%= image_tag "resAwning_05.jpg",:alt => "awning", :style => "width:100%"%>
        </div>

        <div class="mySlides">
          <div class="numbertext">5 / 6</div>
          <%= image_tag "resAwning_06.jpg",:alt => "awning", :style => "width:100%"%>
        </div>

        <div class="mySlides">
          <div class="numbertext">6 / 6</div>
          <%= image_tag "resAwning_04.jpg",:alt => "awning", :style => "width:100%"%>
        </div>

        <a class="prev" onclick="plusSlides(-1)">&#10094;</a>
        <a class="next" onclick="plusSlides(1)">&#10095;</a>

        <div class="caption-container">
          <p id="caption"></p>
        </div>


        <div class="column">
          <%= image_tag "resAwning_01.jpg",:alt => "awning", :style => "width:100%", :class => "demo cursor", :onclick => "currentSlide(1)" %>

        </div>
        <div class="column">
          <%= image_tag "resAwning_02.jpg",:alt => "awning", :style => "width:100%", :class => "demo cursor", :onclick => "currentSlide(2)" %>
        </div>
        <div class="column">
          <%= image_tag "resAwning_03.jpg",:alt => "awning", :style => "width:100%", :class => "demo cursor", :onclick => "currentSlide(3)" %>
        </div>
        <div class="column">
          <%= image_tag "resAwning_04.jpg",:alt => "awning", :style => "width:100%", :class => "demo cursor", :onclick => "currentSlide(4)" %>

        </div>
        <div class="column">
          <%= image_tag "resAwning_05.jpg",:alt => "awning", :style => "width:100%", :class => "demo cursor", :onclick => "currentSlide(5)" %>
        </div>
        <div class="column">
          <%= image_tag "resAwning_06.jpg",:alt => "awning", :style => "width:100%", :class => "demo cursor", :onclick => "currentSlide(6)" %>
        </div>
      </div>
    </div>

  </d>
</body>


<style>
body {
  font-family: Verdana, sans-serif;
  margin: 0;
}

* {
  box-sizing: border-box;
}

.row > .column {
  padding: 0 8px;
}

.row:after {
  content: "";
  display: table;
  clear: both;
}

.column {
  float: left;
  width: 25%;
}

/* The Modal (background) */
.modal {
  display: none;
  position: fixed;
  z-index: 3;
  padding-top: 0px;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: black;
}

/* Modal Content */
.modal-content {
  position: center;
  margin-left: auto;
   margin-right: auto;
  background-color: black;
  padding: 0;
  width: 90%;
  max-width: 1200px;
  height: 800px;
  max-width: 800px;

}

/* The Close Button */
.close {
  color: white;
  position: absolute;
  top: 10px;
  right: 25px;
  font-size: 35px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: #999;
  text-decoration: none;
  cursor: pointer;
}

.mySlides {
  display: none;
}

.cursor {
  cursor: pointer
}

/* Next & previous buttons */
.prev,
.next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  padding: 100px;
  margin-top: -100px;
  color: white;
  font-weight: bold;
  font-size: 20px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
  -webkit-user-select: none;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

.prev {
  left: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover,
.next:hover {
  background-color: rgba(0, 0, 0, 0.8);
}

/* Number text (1/3 etc) */
.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

img {
  margin-bottom: -4px;
}

.caption-container {
  text-align: center;
  background-color: black;
  padding: 2px 16px;
  color: white;
}

.demo {
  opacity: 0.6;
}

.active,
.demo:hover {
  opacity: 1;
}

img.w3-hover-sepia {
  transition: 0.3s
}

.w3-hover-sepia:hover {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19)
}
</style>



<script>
function openModal() {
  document.getElementById('myModal').style.display = "block";
}

function closeModal() {
  document.getElementById('myModal').style.display = "none";
}

var slideIndex = 1;
showSlides(slideIndex);

function plusSlides(n) {
  showSlides(slideIndex += n);
}

function currentSlide(n) {
  showSlides(slideIndex = n);
}

function showSlides(n) {
  var i;
  var slides = document.getElementsByClassName("mySlides");
  var dots = document.getElementsByClassName("demo");
  var captionText = document.getElementById("caption");
  if (n > slides.length) {slideIndex = 1}
  if (n < 1) {slideIndex = slides.length}
  for (i = 0; i < slides.length; i++) {
      slides[i].style.display = "none";
  }
  for (i = 0; i < dots.length; i++) {
      dots[i].className = dots[i].className.replace(" active", "");
  }
  slides[slideIndex-1].style.display = "block";
  dots[slideIndex-1].className += " active";
  captionText.innerHTML = dots[slideIndex-1].alt;
}
</script>
