<!DOCTYPE html>
<html>
  <head>
    <title>Awning</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Montserrat">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <!-- Sidebar/menu -->
    <nav class="w3-sidebar w3-bar-block w3-white w3-collapse w3-top" style="z-index:3;width:250px" id="mySidebar">
      <div class="w3-container w3-display-container w3-padding-16">
        <h3 class="w3-wide">
          <%= link_to root_path do %>
          <%= image_tag "logo1.png", :style => "width:100%" %>
          <%end%>
        </h3>
      </div>
      <div class="w3-padding-64 w3-large w3-text-grey" style="font-weight:bold">
        <%= link_to root_path do %><p class="w3-bar-item w3-button">
          HOME
        </p><%end%>
        <a onclick="myAccFunc()" href="javascript:void(0)" class="w3-button w3-block w3-white w3-left-align" >
          Commercials <i class="fa fa-caret-down"></i>
        </a>
          <div id="demoAcc" class="w3-bar-block w3-hide w3-padding-large w3-medium">
            <a href="#" class="w3-bar-item w3-button ">Commercial Awnings</a>
            <a href="#" class="w3-bar-item w3-button">Metal Drive-Thru & Entrance Canopies</a>
            <a href="#" class="w3-bar-item w3-button">Drive-Thru Order Board Canopies</a>
            <a href="#" class="w3-bar-item w3-button">Cupola Tower Peaks</a>
            <a href="#" class="w3-bar-item w3-button">Kiosk Canopies</a>
            <a href="#" class="w3-bar-item w3-button">Backlit Canopies</a>
            <a href="#" class="w3-bar-item w3-button">Trellises</a>
            <a href="#" class="w3-bar-item w3-button">Sunshade Louvers</a>
            <a href="#" class="w3-bar-item w3-button">LED Channel Letter Signs</a>
            <a href="#" class="w3-bar-item w3-button">Illuminated Signs</a>
            <a href="#" class="w3-bar-item w3-button">Fascia Wall Signs</a>
            <a href="#" class="w3-bar-item w3-button">Pylon & Monument Signs</a>
            <a href="#" class="w3-bar-item w3-button">Up/Down Light Band</a>
            <a href="#" class="w3-bar-item w3-button">Up Light Box</a>
            <a href="#" class="w3-bar-item w3-button">Roof Access Ladders</a>
            <a href="#" class="w3-bar-item w3-button">LED Border Tube Lighting</a>

          </div>
        <%= link_to pages_residential_path do %><p  class="w3-bar-item w3-button">
          Residential</p>
        <%end%>
        <a href="#footer" class="w3-bar-item w3-button">Contact Us</a>
      </div>
    <!--  <a href="#footer" class="w3-bar-item w3-button w3-padding">Contact</a>
      <a href="javascript:void(0)" class="w3-bar-item w3-button w3-padding" onclick="document.getElementById('newsletter').style.display='block'">Newsletter</a>
      <a href="#footer"  class="w3-bar-item w3-button w3-padding">Subscribe</a>
    -->
    </nav>

    <!-- Top menu on small screens -->
    <header class="w3-bar w3-top w3-hide-large w3-black w3-xlarge">
      <div class="w3-bar-item w3-padding-24 w3-wide"><%= image_tag "logo1.png", :style => "width:100%" %></div>
      <a href="javascript:void(0)" class="w3-bar-item w3-button w3-padding-24 w3-right" onclick="w3_open()"><i class="fa fa-bars"></i></a>
    </header>

    <!-- Overlay effect when opening sidebar on small screens -->
    <div class="w3-overlay w3-hide-large" onclick="w3_close()" style="cursor:pointer" title="close side menu" id="myOverlay"></div>

    <!-- !PAGE CONTENT! -->
    <div class="w3-main" style="margin-left:250px">

      <!-- Push down content on small screens -->
      <div class="w3-hide-large" style="margin-top:100px"></div>

        <!-- Top header -->
        <header class="w3-container w3-xlarge">
          <p class="w3-left"><%=yield(:title)%></p>
        <!--  <p class="w3-right">
            <i class="fa fa-shopping-cart w3-margin-right"></i>
            <i class="fa fa-search"></i>
          </p>
        -->
        </header>


        <script>
        // Accordion
        function myAccFunc() {
            var x = document.getElementById("demoAcc");
            if (x.className.indexOf("w3-show") == -1) {
                x.className += " w3-show";
            } else {
                x.className = x.className.replace(" w3-show", "");
            }
        }

        // Click on the "Jeans" link on page load to open the accordion for demo purposes
        //document.getElementById("myBtn").click();


        // Script to open and close sidebar
        function w3_open() {
            document.getElementById("mySidebar").style.display = "block";
            document.getElementById("myOverlay").style.display = "block";
        }

        function w3_close() {
            document.getElementById("mySidebar").style.display = "none";
            document.getElementById("myOverlay").style.display = "none";
        }
        </script>





    <%= yield %>
    <footer class="w3-padding-64 w3-light-grey w3-small w3-center" id="footer">
      <div class="w3-row">
        <div class="w3-third w3-container w3-padding-16">
      <!--<div class="w3-row-padding">
        <div class="w3-col s4">-->
          <h4>Contact</h4>
          <p>Questions? Go ahead.</p>
          <form action="/action_page.php" target="_blank">
            <p><input class="w3-input w3-border" type="text" placeholder="Name" name="Name" required></p>
            <p><input class="w3-input w3-border" type="text" placeholder="Email" name="Email" required></p>
            <p>
              <select class="w3-select" name="Subject" required>
                <option value="" disabled selected>Choose your subject</option>
                <option value="1">Drive-Thru</option>
                <option value="2">Commercial</option>
                <option value="3">Residential</option>
                <option value="4">General</option>
                <option value="5">Question</option>
              </select>
            </p>
            <p><input class="w3-input w3-border" type="integer" placeholder="Phone Number" name="PhoneNumber" required></p>
            <p><input class="w3-input w3-border" type="text" placeholder="Best time to call" name="BestTimeToCall" required></p>
            <p><input class="w3-input w3-border" type="text" placeholder="Address" name="Address" required></p>
            <p><input class="w3-input w3-border" type="text" placeholder="City, State, ZIP" name="CıtyStateZip" required></p>
            <p><input class="w3-input w3-border" type="text" placeholder="Message" name="Message" required></p>
            <button type="submit" class="w3-button w3-block w3-black">Send</button>
          </form>
        </div>

        <div class="w3-third w3-container w3-padding-16">
        <!--<div class="w3-col s4">-->
          <h4>Optional Installation Services</h4>
          <p><a href="#">Installation of all our products is largely expedited by our experienced crews. They deliver the products to the site, complete with all components and the necessary tools and equipment, to finish the project in the shortest possible time frame.</a></p>

        </div>

        <div class="w3-third w3-container w3-padding-16">
        <!--<div class="w3-col s4 w3-justify">-->
          <h4>Store</h4>
          <p><i class="fa fa-fw fa-map-marker"></i> 3265 Highway 62 NW,
  Corydon, IN, 47112-6709, USA</p>
          <p><i class="fa fa-fw fa-phone"></i> Tel No: (812) 734-0423
  Fax No: (812) 734-0344</p>
          <p><i class="fa fa-fw fa-envelope"></i>sales@awningtecusa.com</p>
          <h4 class="w3-padding-16">We accept</h4>
          <p><i class="fa fa-fw fa-cc-amex"></i> Amex</p>
          <p><i class="fa fa-fw fa-credit-card"></i> Credit Card</p>
          <br>
          <i class="fa fa-facebook-official w3-hover-opacity w3-large"></i>
          <i class="fa fa-instagram w3-hover-opacity w3-large"></i>
          <i class="fa fa-snapchat w3-hover-opacity w3-large"></i>
          <i class="fa fa-pinterest-p w3-hover-opacity w3-large"></i>
          <i class="fa fa-twitter w3-hover-opacity w3-large"></i>
          <i class="fa fa-linkedin w3-hover-opacity w3-large"></i>
        </div>
      </div>
    </footer>
  </body>
</html>
